<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Añadir clientes</h3>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-5">
            <form [formGroup]="angForm" novalidate>
                <div class="form-group">
                    <label>Nombre del cliente</label>
                    <input type="text" class="form-control" formControlName="NombreCliente" #NombreCliente />
                </div>
                <div *ngIf="angForm.controls['NombreCliente'].invalid && 
                (angForm.controls['NombreCliente'].dirty || 
                angForm.controls['NombreCliente'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['NombreCliente'].errors.required">
                        Se requiere un nombre
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <form [formGroup]="angForm" novalidate>
                <div class="form-group">
                    <label>Peso del cliente (1-5)</label>
                    <input type="number" class="form-control" formControlName="PesoCliente" #PesoCliente />
                </div>
                <div *ngIf="angForm.controls['PesoCliente'].invalid && (angForm.controls['PesoCliente'].dirty || angForm.controls['PesoCliente'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="angForm.controls['PesoCliente'].errors.required">
                        Se requiere un peso
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 align-self-center form-group">
            <button type="button" class="btn btn-outline-primary"
                [disabled]="angForm.pristine || angForm.invalid">Añadir cliente</button>
        </div>
        <div class="col-md-2 align-self-center">
            <button type="button" class="btn btn-outline-info">Añadir clientes desde archivo</button>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col" width="80%">Nombre</th>
                            <th scope="col" width="5%" align="center">Peso</th>
                            <th scope="col" width="10%">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Francisco Jesús García López</td>
                            <td align="center">4</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                        </tr>
                        <tr>
                            <td>Francisco Jesús García López</td>
                            <td align="center">4</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                        </tr>
                        <tr>
                            <td>Francisco Jesús García López</td>
                            <td align="center">4</td>
                            <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>